@media (min-device-width:990px) and (max-device-width:1200px){

     .header{
          background-position: center;
          & nav{
               margin-left: 10px;
                width: 100%;
               & ul{
                    display: flex;
                    margin-left: 0px;
                    margin-top: 8px;
                    height: 40vh;
                    padding: 0px 0px;
                    width: 100%;

                    & li{
                         line-height: 1.5rem;

                    }
               }
          }

          & h1{
               position: absolute;
               margin-top: 15rem;
               color: white;
               font-size: 50px;
               font-weight: 600;
               margin-left: 100px;
               font-family: var(--font-family);

               
          }

          .indicator{
               display: flex;
               position: absolute;
               margin-top: 28rem;
               margin-left: 40%;
               gap: 7px;
               .active{
                    background-color: blue;
               }
          }
     }


/* book room section  */

.Bookroom{
     padding: 50px 50px;
     height: max-content;
     height: 100vh;
     .bgBook{
          .booktext{
               padding: 10px 5px;

               & h3{
                    margin-top: 60px;
               }

               & p{
                    margin-top: 10px;
               }
          }
     }
}

.Booklist{
     display:flex;
     margin-top: 90px;
     padding: 10px 10px;

     .btn{
          margin-left: 50px;
          width: 150px;
          height: 50px;
          margin-top: 60px;
          color: aliceblue;
          padding: 0 10px;
     }

}

/* service section */

.service-all{

     display: grid;
     grid-template-columns: repeat(2, 0.5fr);
     gap: 130px;
}

.Rooms{
     margin-left: 90px;

     & img{
          width: 360px;
          height: 460px;
          margin-left: -180px;
     }

     position: relative;

     & div{
          position: absolute;
          margin-left: -60px;
          font-size: 20px;
          font-weight: 400;

     }

    

}


.Dining{
     margin-left: 90px;

     & img{
          width: 360px;
          height: 460px;
          margin-left: -180px;
     }

     position: relative;

     & div{
          position: absolute;
          margin-left: -60px;
          font-size: 20px;
          font-weight: 400;

     }
    

}

.Conferences{
     margin-left: 90px;

     & img{
          width: 360px;
          height: 460px;
          margin-left: -180px;
     }

     position: relative;

     & div{
          position: absolute;
          margin-left: -60px;
          font-size: 20px;
          font-weight: 400;

     }
    

}


.Service{
     margin-left: 90px;
     margin-top: -600px;


     & img{
          width: 360px;
          height: 460px;
          margin-left: -180px;
     }

     position: relative;

     & div{
          position: absolute;
          margin-left: -60px;
          font-size: 20px;
          font-weight: 400;

     }
    

}


.Wedding{
     margin-left: -110px;

     & img{
          width: 360px;
          height: 460px;
          margin-left: -180px;
     }

     position: relative;

     & div{
          position: absolute;
          margin-left: -120px;
          font-size: 20px;
          font-weight: 400;

     }

    

}

/* Special Offers section */

.Special-offers{
     & div{
          .Special1{
               display: grid;
               grid-template-columns: repeat(2, 1fr);

               .special{
                    padding: 1rem;

                    & h4{
                         font-size: 30px;
                    }

                    & h2{
                         font-size: 35px;
                         margin-top: 20px;
                    }

                    & p{
                         margin-top: 20px;
                         font-size: 20px;
                    }
               }

               .view{
                    & h2{
                         font-size: 30px;
                         margin-top: 100px;
                    }
               }
          }


          .offer{
               display: grid;
               grid-template-columns: repeat(2, 1fr);
               gap: 10px;
               padding: 15px 30px;

               .div{
                    margin-top: 30px;
                    margin-left: 60px;
                    & img{
                         margin-left: 20px;
                    }
               }
          }
     }
}


/* footer section */

.footer{
     .footer-promo{
          margin-top: 50px;
          margin-left: -80px;
     }

     & h2{
          font-size: 25px;
          font-weight: 400;
     }
     .email{
          display: flex;


          #email{
               width: 400px;
               height: 60px;
          }
     }

     .footer-Bg{
          display: flex;
     }

     .footer-logo{
          & h2{
               font-size: 35px;
               font-weight: 500;
               margin-top: 20px;
          }

          .footer-content{

               display:grid;
               grid-template-columns: repeat(3, 1fr);
               gap: 20px;
               align-items: center;
               text-align: center;

               & div{
                    margin-left: 20px;
                    & p{
                         padding: 5px;
                    }
               }


          }
     }
}






}