*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

:root{
     --font-family: "Inter", sans-serif;
     --padding: 70px 100px;
}

.header{
     background-image: url('images/unsplash_rlwE8f8anOc.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     height: 80vh;
     position: relative;


     & nav{
          background-color: aliceblue;
          position: absolute;
          top: 25px;
          height:80px;
          width: 80%;
          margin-left: 10rem;
          border-radius: 8px;

          & ul{
               display: flex;
               list-style-type: none;
               justify-content: space-around;

               & li{
                    align-items: center;
                    text-align: center;
                    margin-top: 25px;
                    color: black;
                  
                    
                    & a{
                         text-decoration: none;
                         font-size: 25px;
                         padding: 2px 30px;
                         color: black;
                       
                    }
                    .logo{
                         font-size: 28px;
                         font-weight: 900;
                    }
               }

               .active{
                    color: #65AEF2;
               }

               
          }
     }

     & h1{
          position: absolute;
          margin-top: 25rem;
          color: white;
          font-size: 70px;
          font-weight: 700;
          margin-left: 120px;
          font-family: var(--font-family);
     }

     .indicator{
          display: flex;
          position: absolute;
          margin-top: 42rem;
          margin-left: 50%;
          gap: 7px;
          .active{
               background-color: blue;
          }
     }

     .indicator div{
          background-color: white;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          display: flex;
         

     }
}


/* book room section */

.Bookroom{
     padding: var(--padding);
    .bgBook{
     background-color: #E9F3F6;
     width: 100%;
     height: 40vh;
     border-radius: 42px;
     position: relative;

     .booktext{
          margin: 0px auto;
          align-items: center;
          text-align: center;
          padding: 20px;

          & h3{
               font-size: 32px;
               font-family: var(--font-family);
               font-weight: 500;
          }
          & p{
               font-family: var(--font-family);
               padding: 5px 0;
               color: #5E5E5E;
               ;
          }
     }

    }

    
}

.Booklist{
     display: flex;
     font-family: var(--font-family);
    justify-content: space-evenly;
    margin-top: 70px;

    .btn{
     background: #65AEF2;
     font-weight: 700;
     border-radius: 12px;
     border: none;
     width: 200px;
     height: 59px;
     margin-top: 40px;
    
    }
    
}

.Bookchack{
     & h3{
          font-size: 20px;
          padding: 20px 0px;
     }
}
.chack{
     display: flex;
     gap: 20px;
     border-radius: 12px;
     background-color: #ffffff;
     padding: 10px 15px;

     & p{
          font-size: 18px;
          font-weight: 600;
     }

}

.personman{
     & h3{
          font-size: 20px;
          padding: 20px 0px;
     }
}
.Bookperson{
     display: flex;
     gap: 20px;
     border-radius: 12px;
     background-color: #ffffff;
     padding: 10px 15px;

     & p{
          font-size: 18px;
          font-weight: 600;
     }
}

/* service  section*/
.service{
     background-color: #F3F3F3;
     padding: 100px 150px;

}

.service-all{
     display: grid;
     grid-template-columns: auto auto auto;
     gap: 1px;
     margin-left: 50px;
}

.Rooms{

     position: relative;
     grid-area: 1/1/ span 2 / span 1;

     & div{
          position: absolute;
          color: white;
          margin-top: -120px;
          margin-left: 110px;
          font-size: 25px;
          font-weight: 700;
          font-family: var(--font-family);

     }

    

}

.Dining{

     position: relative;

     & div{
          position: absolute;
          color: white;
          margin-top: -120px;
          margin-left: 110px;
          font-size: 25px;
          font-weight: 700;
          font-family: var(--font-family);

     }

    

}

.Conferences{
     position: relative;

     & div{
          position: absolute;
          color: white;
          margin-top: -140px;
          margin-left: 100px;
          font-size: 25px;
          font-weight: 600;
          font-family: var(--font-family);

     }

    

}

.Service{

     position: relative;

     & div{
          position: absolute;
          color: white;
          margin-top: -140px;
          margin-left: 50px;
          font-size: 25px;
          font-weight: 600;
          font-family: var(--font-family);

     }

    

}

.Wedding{

     position: relative;

     & div{
          position: absolute;
          color: white;
          margin-top: -140px;
          margin-left: 50px;
          font-size: 25px;
          font-weight: 600;
          font-family: var(--font-family);

     }

    

}


/* Special Offers section */

.Special-offers{
     & div{
          .Special1{
               display: flex;
               padding: var(--padding);
               justify-content: space-between;
               .special{ 
                    padding: 1.5rem;           
            
               & h4{
                    color: #65AEF2;
                    font-family: var(--font-family);
                    font-size: 32px;
                    font-weight: 500;

               }
               & h2{
                    font-size: 50px;
                    font-family: var(--font-family);
                    font-weight: 700;
                    margin-top: 10px;
               }

               & p{
                    margin-top: 10px;
                    font-weight: 500;
                    font-size: 20px;
                    font-family: var(--font-family);
                    color:#1E1E1E;
          
               }
          }
     }

          .view{
               & h2{
                    color: #65AEF2;
                    font-family: var(--font-family);
                    font-size: 32px;
                    font-weight: 700;
                    align-items: center;
                    text-align: center;
               }
          }

          .offer{
               display: flex;
               gap: 70px;
               padding: 50px 200px;
               background-color: white;

               .div{
                    box-shadow:  0 0 50px rgb(128, 126, 126);
                    width: 400px;
                    height: 547px;
                    gap: 8px;
                    border-radius: 42px;

                    & img{
                         margin-left: -20px;
                         margin-top: 20px;
                    }

                    .offer-text{
                         padding: 30px 20px;
                         font-size: 20px;

                         & p{
                              margin-top:10px;
                         }

                         .text{
                              display: flex;
                              justify-content: space-between;
                              margin-top: 10px;
                         }

                         & h2{
                              text-align: center;
                              margin-top: 15px;
                              .span{
                                   font-size: 20px;
                              }
                         }


                    }



               }


          }

          }


     }


/* footer section */


.footer{

     .footer-promo{
          margin-top: 70px;
         & h2{
          font-size: 36px;
          font-weight: 500;
          font-family: var(--font-family);
         }

         .email{
          display: flex;
          margin-top: 40px;

          #email{
               width: 400px;
               height: 60px;
               border-radius: 8px 0 0 8px;
               outline: none;
               border: none;
               
          }

          & button{
               background-color:#65AEF2;
               border-radius:  0 8px 8px 0;
               width: 150px;
               height: 65px;
               margin-top: -2px;
               font-size: 20px;
               color: white;
          }

         }
     }

     .footer-Bg{
          background-color: black;
          color: white;
          display: flex;
          justify-content: space-around;
          padding: var(--padding);
     }

     .footer-logo{
          & h2{
               text-align: center;
               font-size: 64px;
               font-weight: 700;
               line-height: 64%;
          }
          .footer-content{
               display: flex;
               gap: 100px;
               margin-top: 50px;

               & div{
                    & p{
                         padding: 10px;
                    }
               }
          }

     }


}

.copyright{
     text-align: center;
     color: whitesmoke;
     background-color: #1E1E1E;
     padding-top: 40px;
}
